{
  "MockServicesSettings": {
    "UseMockEmail": true,
    "UseMockSms": false
  },
  "Smsapi": {
    "Url": "https://api.smsapi.pl",
    "Token": "ExampleBearerToken"
  },
  "GmailSettings": {
    "ServerLogin": "examplelogin@gmail.com",
    "ServerPassword": "examplePassword",
    "UserName": "exampleUserName"
  },
  "JwtSettings": {
    "Issuer": "localhost",
    "Audience": "localhost",
    "Key": "JwtSettingsSecretKey"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "EVotingSystemDatabase": "User ID=postgres;Password=zaq1@WSX;Host=localhost;Port=5432;Database=evotingsystem;Pooling=true;MinPoolSize=0;MaxPoolSize=100;Connection Lifetime=0;"
  }
}